{% extends "layouts/base-auth.html" %}
{% load static %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block content %}

  <div class="auth-main" style="background-image: url('{% static 'newicons/bg-img.webp' %}'); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; overflow-x: hidden; width: 100%; max-width: 100vw; left: 0; right: 0; margin: 0 auto;">
    <div class="auth-wrapper v1">
      <div class="auth-form">
        <div class="position-relative my-5">

          <div class="card mb-0">
            <form method="post" class="card-body">
              {% csrf_token %}

              <div class="text-center">
                <a href="{% url "index" %}">
                  <div>
                    <img src="{% static 'newicons/bitlogo_dark.png' %}" alt="img" style="width: 180px; height: 90px;">
                  </div>
                </a>
              </div>
              <h4 class="text-center f-w-500 mt-4 mb-3">Reset Password</h4>

              {% for field in form %}
              <div class="form-group mb-3">
                {{ field }}
                <span class="d-block mt-1 text-danger">{{ field.errors }}</span>
              </div>
              {% endfor %}
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary shadow px-sm-4">Reset</button>
              </div>
              <div class="d-flex justify-content-center gap-3 align-items-end mt-4">
                <h6 class="f-w-500 mb-0">Remember password?</h6>
                <a href="{% url "login" %}" class="link-primary">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}